@import "./vendors/modern-normalize.min";
@import "./utils/variables";
@import "./base/common";
@import "./base/container";
@import "./base/name";

@import "./components/button";
@import "./components/nav";
@import "./components/main";
@import "./components/logo";
@import "./components/mobile-menu";
@import "./components/title-team";
@import "./components/team-card";
@import "./components/title-label";
@import "./components/hide-title";
@import "./components/thumb";
@import "./components/team-icons";
@import "./components/footer-title";
@import "./components/footer-logo";
@import "./components/card-icons";
@import "./components/form-footer";
@import "./components/form";
@import "./components/modal";
@import "./components/checkbox-label";

@import "./layouts/navigation";
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/section";
@import "./layouts/bg-color-section";
@import "./layouts/flex";
@import "./layouts/flex-projects";
@import "./layouts/product-thumb";
@import "./layouts/our-clients";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./layouts/footer-flex";
@import "./layouts/footer-icons";
@import "./layouts/contacts";
@import "./layouts/form-blok";
@import "./layouts/filter";
@import "./layouts/flex-portfolio";
