.checkbox-label {
  position: relative;
}

.checkbox-label__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  margin-right: 4px;

  border: 2px solid var(--title-color);
  border-radius: 4px;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label__icon {
  background-color: var(--accent-color);
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox-label__text {
  line-height: 1.7;

  text-decoration-line: underline;
  color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
