.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }
}
