.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.blue {
  color: var(--accent-color);
}
