.backdroup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.2);

  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdroup.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  max-width: 528px;
  height: 581px;

  margin-bottom: 4px;

  padding: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  text-align: start;

  color: var(--main-text-color);

  background-color: var(--bg-portfo);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1199.98px) {
    width: 89vw;
    height: 609px;
  }
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-form {
  max-width: 100%;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 8px;
  margin-right: 8px;

  min-width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--bg-portfo);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 30px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
