.team-card {
  background-color: var(--bg-portfo);
  border-color: 2px solid var(--card-border-color);
  border-right: 2px solid var(--card-border-color);
  border-bottom: 2px solid var(--card-border-color);
  padding: 30px;
}

.team-card .title-team {
  margin-bottom: 10px;
}
