:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --bg-color: #f5f4fa;
  --bg-portfo: #ffffff;
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --card-border-color: #eeeeee;
  --color-icon: #afb1b8;
  --bg-our-clients: #e5e5e5;
}
