.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts {
  margin-top: 9px;

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.contacts__contacts-color {
  color: var(--contacts-color);
}

.contacts__address {
  color: var(--bg-portfo);
}

.address-margin {
  margin-top: 20px;
}
