.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-flex__footer-contacts {
  display: inline-block;
  flex-basis: calc((50%-45px) / 2);
}

.footer-flex__margin-footer {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}
