.our-clients {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-portfo);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients__clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.167;
  text-align: center;
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
